.wp-block-heading {
}

h2.wp-block-heading {
  display: flex;
  align-items: center;
  gap: var(--wp--preset--spacing--16);
  padding: var(--wp--preset--spacing--20) 0;
  border-bottom: 4px solid var(--wp--preset--color--custom-red);
  font-size: var(--wp--preset--font-size--x-large);

  &:before {
    content: "";
    width: 32px;
    height: 32px;
    background: url(../image/block/heading/heading-sun.png) no-repeat center
      center / contain;
    flex-shrink: 0;
  }
}

h3.wp-block-heading {
  padding: var(--wp--preset--spacing--20);
  border-bottom: 4px solid var(--wp--preset--color--custom-red);
  background: var(--wp--preset--color--custom-gray-more-light);
  font-size: var(--wp--preset--font-size--large);
}

h4.wp-block-heading {
  padding: var(--wp--preset--spacing--16) var(--wp--preset--spacing--20);
  background: var(--wp--preset--color--custom-orange-light);
  font-size: var(--wp--preset--font-size--semi-large);
}

.wp-block-list {
}

ul.wp-block-list {
  padding: var(--wp--preset--spacing--24);
  border: 4px solid var(--wp--preset--color--custom-gray-more-light);
  list-style: none;

  > li {
    list-style: none;
    padding-left: 18px;
    position: relative;

    &::before {
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: var(--wp--preset--color--custom-red);
      position: absolute;
      top: 9px;
      left: 0;
    }
  }
}

ol.wp-block-list {
  padding: var(--wp--preset--spacing--24) var(--wp--preset--spacing--24)
    var(--wp--preset--spacing--24) var(--wp--preset--spacing--40);
  border: 4px solid var(--wp--preset--color--custom-gray-more-light);
}

.wp-block-quote {
}
